{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/media/cj/table.css">
{% endblock %}


{% block content %}
<h1>Journée du {{jour}}/{{mois}}/{{annee}}</h1>
{% if creneaux %}
    <table>
        <thead><tr>
             <th>Créneau</th>
             <th>Groupe</th>
             <th>Domaine</th>
             <th>Compétence</th>
             <th>Objectif</th>
             <th>Activité</th>
             <th>Bilan</th>
        </tr></thead>
        <tbody>
    {% for i in creneaux %}
        {% if i.activite.objectif.all|length > 1 %}
            {% for p in i.activite.objectif.all %}
                {% if forloop.first %}
                    <tr>
                        <td rowspan='{{ i.activite.objectif.all|length }}'><a href='/cj/creneau/{{ i.id }}/'>{{ i.date_debut|date:'H:i' }}<br>{{ i.date_fin|date:'H:i' }}</a></td>
                        <td rowspan='{{ i.activite.objectif.all|length }}'>{{ i.groupe }}</td>
                        <td><font color='{{ p.competence.domaine.couleur }}'>{{ p.competence.domaine }}</font></td>
                        <td>{{ p.competence }}</td>
                        <td>{{ p }}</td>
                        <td rowspan='{{ i.activite.objectif.all|length }}'><a href='/cj/activite/{{ i.activite.id }}/'>{{ i.activite.titre }}</a></td>
                        <td rowspan='{{ i.activite.objectif.all|length }}'>{{ i.bilan }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td><font color='{{ p.competence.domaine.couleur }}'>{{ p.competence.domaine }}</font></td>
                        <td>{{ p.competence }}</td>
                        <td>{{ p }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td><a href='/cj/creneau/{{ i.id }}/'>{{ i.date_debut|date:'H:i' }}<br>{{ i.date_fin|date:'H:i' }}</a></td>
                <td>{{ i.groupe }}</td>
                <td><font color='{{ i.activite.objectif.all.0.competence.domaine.couleur }}'>{{ i.activite.objectif.all.0.competence.domaine }}</font></td>
                <td>{{ i.activite.objectif.all.0.competence }}</td>
                <td>{{ i.activite.objectif.all.0 }}</td>
                <td><a href='/cj/activite/{{ i.activite.id }}/'>{{ i.activite.titre }}</a></td>
                <td>{{ i.bilan }}</td>
            </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
{% else %}
<p>Il n'y a rien de programmé pour ce jour.</p>
{% endif %}
{% endblock %}
