{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}commun/jquery.colorPicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}commun/js/jquery-ui-timepicker-addon.js"></script>
<link rel="stylesheet" media="screen" type="text/css" title="Design" href="{{ MEDIA_URL }}commun/colorPicker.css" />
<link rel="stylesheet" media="screen" type="text/css" title="Design" href="{{ MEDIA_URL }}commun/css/jquery-ui-timepicker-addon.css" />
<script>
$(document).ready(function() {
    $('.datetimepicker').datetimepicker({
        stepMinute: 10,
        hourMin: 8,
        hourMax: 17,
        dateFormat: 'dd/mm/yy',
        timeFormat: 'hh:mm:ss',
    });
    $('.timepicker').timepicker({
        stepMinute: 5,
        timeFormat: 'hh:mm:ss',
    });
});
</script>
{% endblock %}

{% block content %}
<h1>{{object|capfirst}}</h1>
<div class='form'>
<form action='/cj/{{ object }}/{% if o.id %}{{o.id}}{% else %}0{% endif %}/' method='post'>
{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Valider !'>
</form>
</div>
{% endblock %}
