{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}commun/update_select.js" ></script>
<script>
$(document).ready(function() {
    $('select').change(function(data) {
        var s = {
            'domaine' : 'competence',
            'competence' : 'objectif'
            };
        if (this.id in s){
            UpdateSelect(s[this.id], this.value);
        }
    });
});
</script>
{% endblock %}



{% block content %}
<select id='domaine'>
{% for i in domaines %}<option value='{{ i.pk }}'>{{ i }}</option>{% endfor %}
</select>
<select id='competence'>
</select>
<select id='objectif'>
</select>
{% endblock %}
